.father {
    display: flex;
    justify-content: space-around;
    height: 110vh;
    align-content: space-around;
    flex-wrap: wrap;
}

.child {
    width: 200px;
    height: 200px;
    background-color: orange;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
