.father {
    display: grid;
    grid-template-columns: 20px 55px 89px 100px;
    column-gap: 10px;
    gap: 10px;
}

.child {
    background-color: orange;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
